html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* évite les barres de scroll */
  background: linear-gradient(to bottom, #95d283ff 0%, #52a649ff 100%);
  z-index: -1;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
